<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.UserMapper">

    <select id="findByUsername" resultType="userVO">
        SELECT * FROM users WHERE username = #{username}
    </select>

    <select id="countByUsername" resultType="int">
        SELECT COUNT(*) FROM users WHERE username = #{username}
    </select>

    <insert id="register">
        INSERT INTO users(username, password, role)
        VALUES(#{username}, #{password}, #{role})
    </insert>

</mapper>